.connectedAccount-1xKpli{
    background-color:var(--background-secondary);
    border-radius:20px;
}

.connectedAccount-1xKpli:hover{
    background-color:var(--background-secondary);
    transition: 250ms;
}

.connectedAccountName-j0meX4:hover{
    font-weight:bold;
    font-size:110%;
    transition: 0.2s ease;
}

[d="m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z"]{
    fill:var(--brand-experiment) !important;
}

.connectedAccountOpenIcon-1yfBsb{
    opacity:0;
    background-color:var(--background-secondary);
    border:solid var(--popout-activeborders);
    border-radius:15px;
    padding:5px;
    color:#000;
}
.connectedAccount-1xKpli:hover .connectedAccountOpenIcon-1yfBsb{
    opacity:1;
    background-color:var(--brand-experiment);
    transition:250ms; 
}

.lookFilled-1Gx00P.colorGreen-29iAKY{
    border-radius:13px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover{
    background-color:var(--background-secondary);
    box-shadow: rgba(44, 139, 255, .47) 0px 5px 15px;
}

.note-3M15gE textarea{
    background:var(--background-secondary);
    border-radius:7px;
}

.labelContainer-2vJzYL{
    border-radius:10px;
}

.tabBarItem-30Te4-{
    background-color:var(--background-secondary);
    border-radius:15px;
    padding:2.5%;
    font-weight:bold; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px !Important;  
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active{
border-bottom-color: var(--popout-activeborders);
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active{
    font-size:110%;
    transition:.2s;
    border:solid var(--popout-activeborders);
}

.top-K_jibn .themed-2-lozF.item-3XjbnG:hover{
    border-bottom-color:var(--popout-activeborders);
    background:var(--background-secondary);
    border:solid var(--popout-activeborders);
    transition:background 250ms;
}

.customStatusText-_4TbWr{
    text-align:center;
    background-color:var(--background-secondary);
    margin-right:20px;
    margin-left:10px;
    border-radius:10px;
    padding:10px;
    font-size:105%;
}

/* MUTUAL SERVERS & friends */

.listScroller-entkMk{
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    display:flex;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color:var(--background-primary);
    padding-bottom: 15px;
}

.listRow-2nO1T6{
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    align-items: center !important;
    border-radius: 15px !important;
    margin-left:20px !important;
    margin-top: 20px !important;
    margin-bottom:5px !important;
    margin-right:5px;
    padding: 10px 20px 10px 10px !important;
    width: 240px !important;   
    background-color:var(--background-secondary);
}
.listRow-2nO1T6{
    transition: background-color 250ms ease-in-out !important;
}

.listAvatar-2bU5Uh, .listRowContent-PEmSWj{
    margin-left:15%;
}

.listAvatar-2bU5Uh{
    transform:scale(1.12);
    box-shadow: rgba(0, 0, 0, .21) 0px 7px 29px 0px;
}

.listRow-2nO1T6:hover{
    background-color:var(--background-tertiary);
    box-shadow:rgb(21, 21, 21) 0px 0px 0px 2px;
}

/* Activity centered fix for biguserpopout*/


        .body-1Ukv50 .activityProfile-1712BN.userProfileActivity-sal5no.newProfileActivityStyles{
            left: 50%;
            top: 10%;
            width: 100%;
            transform: translate(-50%,-10%);
          }


        .body-1Ukv50 .button-TGAkj4.button-f2h6uQ.lookFilled-1Gx00P.colorGrey-2DXtkV.buttonSize-dIiz43.fullWidth-1orjjo.grow-q77ONN,
        .body-1Ukv50 .disabledButtonWrapper-3wH6-b.buttonSize-AQY2mE.grow-q77ONN.fullWidth-1orjjo, 
        .body-1Ukv50 .disabledButtonOverlay-2DA5FI, 
        .body-1Ukv50 .button-TGAkj4.button-f2h6uQ .lookFilled-1Gx00P .colorGrey-2DXtkV.buttonSize-AQY2mE.fullWidth-1orjjo.grow-q77ONN
        {
            left:0%;
            top:65%;
            transform: scale(.915);
        }


/* guild scroller stuff */
:root .guilds-2JjMmN
{
    margin-right: 10px;
    margin-left: 7px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 18px;
}

/* Small userpopout change */
.headerTop-3GPUSF{
    padding-bottom:10px !Important;
    padding-top:55px !important;
    
}

.headerTopWithCustomStatus-1aNSNd{
    padding-bottom:12px !important;
}

.setIdentityLink-hOFsMl{
    display:none;
}


:root .scroller-3X7KbA
{
    background-color: var(--background-secondary);
}

/* chat margins so they don't touch eachother*/
:root .chat-2ZfjoI, .sidebar-1tnWFu
{
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
