/**
* @name Smooth
* @author Sambot#7421
* @description various CSS snippets
* @source https://github.com/wotanut/AnActuallyDecentTheme
* @authorId 705798778472366131
* @updateUrl https://raw.githubusercontent.com/wotanut/AnActuallyDecentTheme/main/AnActuallyDecentTheme.css
* @version 0.0.3
*/	

/* these imports are not required and can be changed to your liking */

@import url(https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
/*@import url(https://raw.githubusercontent.com/wotanut/channel-icons/channelicons.theme.css); /* I need to fix channel icons*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);

/* these imports are required, I highly advise against removing them */

@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/add_server.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/big_user_popout.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/chat.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/menu.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/misc.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/server_settings.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/small_user_poput.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/status.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/unread.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/user_settings.css);
@import url(https://wotanut.github.io/AnActuallyDecentTheme/modules/channel_icons.css);

:root{
    --dark-primary: #35383d;
    --dark-secondary: #35383d;
    --dark-secondary-alt: #35383d;
    --dark-bright: #35383d;
    --roundmoled-background: rgb(17, 17, 19);
    --popout-activeborders: #35383d;

    /* radial status */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-self-speaking-color: #57d39b; /* Colour for speaking ring in the bottom left while in a voice chat/call */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone  */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
